
span.nameSpan {
   font-family  : Optima, Lucida, MgOpen Cosmetica, Lucida Sans Unicode, sans-serif;
   font-size    : 11px;
}

div.customDropZone {
   background-color : #DDDDDD;
   font-family      : Optima, Lucida, MgOpen Cosmetica, Lucida Sans Unicode, sans-serif;
   font-size        : 10px;
} 
   
   